[submodule "components/modules/drivers/button_input"]
	path = components/modules/drivers/button_input
	url = git@github.com:magradze/button_input.git
[submodule "components/modules/drivers/mcp23017_io_expander"]
	path = components/modules/drivers/mcp23017_io_expander
	url = git@github.com:magradze/mcp23017_io_expander.git
[submodule "components/modules/drivers/rotary_encoder_input"]
	path = components/modules/drivers/rotary_encoder_input
	url = git@github.com:magradze/rotary_encoder_input.git
[submodule "components/modules/drivers/spi_bus"]
	path = components/modules/drivers/spi_bus
	url = git@github.com:magradze/spi_bus.git
[submodule "components/modules/drivers/i2c_bus"]
	path = components/modules/drivers/i2c_bus
	url = git@github.com:magradze/i2c_bus.git
[submodule "components/modules/drivers/sn74hc595n_writer"]
	path = components/modules/drivers/sn74hc595n_writer
	url = git@github.com:magradze/sn74hc595n_writer.git
[submodule "components/modules/system/connectivity_watchdog"]
	path = components/modules/system/connectivity_watchdog
	url = git@github.com:magradze/connectivity_watchdog.git
[submodule "components/modules/system/alarms_manager"]
	path = components/modules/system/alarms_manager
	url = git@github.com:magradze/alarms_manager.git
[submodule "components/modules/system/health_monitor"]
	path = components/modules/system/health_monitor
	url = git@github.com:magradze/health_monitor.git
[submodule "components/modules/system/ota_update_manager"]
	path = components/modules/system/ota_update_manager
	url = git@github.com:magradze/ota_update_manager.git
