menu "Relay Actuator"

    config MODULE_RELAY_ACTUATOR_ENABLED
        bool "Enable Relay Actuator Module"
        default y
        help
            Enables the relay_actuator module for Controls a single-channel relay via GPIO..
            When enabled, the module provides full functionality.
            If disabled, the module code will not be included in 
            the final firmware, saving memory and processing resources.

    config RELAY_ACTUATOR_DEFAULT_INSTANCE_NAME
        string "Default Instance Name"
        default "main_relay_actuator"
        depends on MODULE_RELAY_ACTUATOR_ENABLED
        help
            Default instance name for the relay_actuator module.

    config RELAY_ACTUATOR_INSTANCE_NAME_MAX_LEN
        int "Maximum Instance Name Length"
        default 32
        range 8 64
        depends on MODULE_RELAY_ACTUATOR_ENABLED
        help
            Maximum length for the relay_actuator module instance name string.

    config RELAY_ACTUATOR_MAX_INSTANCES
        int "Maximum number of relay instances"
        default 5
        range 1 20
        depends on MODULE_RELAY_ACTUATOR_ENABLED
        help
            The maximum number of relay modules that can be created in the system.

endmenu
