menu "Button Input"

    config MODULE_BUTTON_INPUT_ENABLED
        bool "Enable Button Input Module"
        default y
        help
            Enables the button_input module for A module to handle hardware button presses and publish events..

    config BUTTON_INPUT_DEFAULT_INSTANCE_NAME
        string "Default Instance Name"
        default "main_button_input"
        depends on MODULE_BUTTON_INPUT_ENABLED
        help
            Default instance name for the button_input module.

    config BUTTON_INPUT_INSTANCE_NAME_MAX_LEN
        int "Maximum Instance Name Length"
        default 32
        range 8 64
        depends on MODULE_BUTTON_INPUT_ENABLED
        help
            Maximum length for the button_input module instance name string.

endmenu
