menu "MCP23017 IO Expander"

    config MODULE_MCP23017_IO_EXPANDER_ENABLED
        bool "Enable MCP23017 IO Expander Module"
        default y
        help
            Enables the mcp23017_io_expander module for A driver for the MCP23017 I2C 16-bit I/O expander..

    config MCP23017_IO_EXPANDER_DEFAULT_INSTANCE_NAME
        string "Default Instance Name"
        default "main_io_expander"
        depends on MODULE_MCP23017_IO_EXPANDER_ENABLED
        help
            Default instance name for the mcp23017_io_expander module.

    config MCP23017_IO_EXPANDER_INSTANCE_NAME_MAX_LEN
        int "Maximum Instance Name Length"
        default 32
        range 8 64
        depends on MODULE_MCP23017_IO_EXPANDER_ENABLED
        help
            Maximum length for the mcp23017_io_expander module instance name string.

endmenu
