menu "Time Sync"

    config MODULE_TIME_SYNC_ENABLED
        bool "Enable Time Sync Module"
        default y
        help
            Enables the time_sync module for Synchronizes system time using NTP/SNTP..

    config TIME_SYNC_DEFAULT_INSTANCE_NAME
        string "Default Instance Name"
        default "main_time_sync"
        depends on MODULE_TIME_SYNC_ENABLED
        help
            Default instance name for the time_sync module.

    config TIME_SYNC_INSTANCE_NAME_MAX_LEN
        int "Maximum Instance Name Length"
        default 32
        range 8 64
        depends on MODULE_TIME_SYNC_ENABLED
        help
            Maximum length for the time_sync module instance name string.

endmenu
